<article class="p-3" (ngSubmit)="formCotizacion()">
  <h3>Nueva factura</h3>
  <form [formGroup]="facturaForm" (ngSubmit)="formCotizacion()">
    <div class="mb-3">
      <label for="Nombre" class="form-label">Nombre del cliente</label>
      <input type="text" class="form-control" id="Nombre" formControlName="Nombre">
    </div>
    <div class="mb-3">
      <label for="Documento" class="form-label">Numero del documento</label>
      <input type="text" class="form-control" id="Documento" formControlName="Documento">
    </div>
    <div class="mb-3">
      <label for="Direccion" class="form-label">Direccion</label>
      <input type="text" class="form-control" id="Direccion" formControlName="Direccion">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!facturaForm.valid">Crear factura</button>
  </form>
</article>